
.button {
    width: 100px;
    background: transparent;
    height: 30px;
    border: 1px solid black;
    &:hover {
        box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.2);
        cursor: pointer;
    }
}