.post-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.fost-form__buttons {
    display: flex;
}

.post-form__color-input {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border: none;
    border: 1px solid black;
    cursor: pointer;
}